
header{
    font-family: sans-serif;
    font-size: 18pt;
    padding: 20px;
    background-color: orange;
    color: green;
    text-shadow: 1px 1px white;
    margin-bottom: 50px;
}
table{
    margin-left: 10%;
}
th,td{
    border: 2px solid gray;
    padding: 20px;
}
footer{
    background-color: lightskyblue;
    color: white;
    text-align: center;
    margin-top: 400px;
    padding: 30px;
}